<head>
    <title>Potpourri</title>
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px|Montserrat' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="butterfly.png">
</head>

<body>
    {{> nav}} 
    <div class="container">
      {{> form}} 
    </div>
    {{> posts}} 
    {{> footer}}
</body>
