<template name="nav">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a class="brand-logo center">Potpourri</a>
                <ul id="nav-mobile" class="left">
                    <li><a href=""><i class="material-icons">add</i></a></li>
                    <li><a><i class="material-icons"><img class="flower" src="flower.png"/></i></a></li>
                    {{> loginButtons}}
                </ul>
            </div>
        </nav>
    </div>
</template>


<template name="form">
    {{#if currentUser}}
    <form>
        <div class="row">
            <div class="input-field">
                <input type="text" maxlength="30" length="30" id="input_text" />
                <label for="input_text">Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" maxlength="65" length="65" id="textarea1" />
                <label for="textarea1">Message</label>
            </div>
        </div>
        <br>
        <div class="file-field input-field">
            <div class="btn blue accent-2">
                <span>Image File</span>
                <input type="file" />
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <button class="btn waves-effect blue accent-2">Submit</button>
    </form>
    {{/if}}
</template>

<template name="posts">
    <div class="grid">
        <div class="grid-sizer"></div>
        <ul>
            {{#each postList}}
            <div class="grid-item">
                {{updateMasonry}}
                <img src="{{imageIs this.ImageID}}" /> 
                {{#if currentUser}} 
                {{this.username}}
                {{else}} 
                {{this.name}}
                {{/if}} 
                {{this.message}} 
                {{this.createdAt}}
            </div>
            {{/each}}
        </ul>
    </div>
</template>

<template name="footer">
    <a href="https://icons8.com/">Flower icons</a>
</template>