.grid-sizer, .grid-item {
    width: 32%;
}

.grid-item img {
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
    max-width: 100%;
}

h1 {
    color: #ff8499;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
}

body {
    background-color: #fffcfe;
}

   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #7ded73;
     box-shadow: 0 1px 0 0 #7ded73;
   }

   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #ff82d8;
   }

    /* label underline for image file  */
   .file-path-wrapper input[type=text] {
      border-bottom: 1px solid #7ded73;
      box-shadow: 0 1px 0 0 #7ded73;
   }
    
   .container {
       width: 60%;
   }

    nav {
      background-color: #ffa9b6;
    }

  .grid {
    margin-left: 20px;
   }

  .flower {
      cursor: pointer;
      margin-top: 5px;
      overflow-y: hidden;
   }

   
/**************************************************************************
                Modal
***************************************************************************/
























